.img_section {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img_section img {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info_section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.info_section .content span {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}